{% extends "cluster.jinja2" %}

{% block contentCluster %}

<div id="aum" class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3 align="center">Node Detail: {{ node.node }} </h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">

      <meta http-equiv="refresh" content="60;URL= '{{ cluster_detail_url }}{{ node.id }}'">

      <p><b>Node ID :</b> {{ node.id }}</p>
      <p><b>Node :</b> {{ node.node }}</p>
      <p><b>Hostname :</b> {{ node.hostname }}</p>
      <p><b>Node type :</b>
        {% if node.master %}
          Master
        {% else %}
          Worker
        {% endif %}
      </p>

      <hr>

      <h4 align="center">Services status</h4>
      {% for service in services %}
        {% if service.Service.url %}
          <p><b><a href=" {{ service.Service.url }} " target="_blank"> {{ service.Service.description }} :</a></b>
        {% else %}
          <p><b>{{ service.Service.description }} :</b>
        {% endif %}
          {% if service.NodeService.status == 0 %}
            <font color="green">OK {{ service.NodeService.log }} </font>
          {% elif service.NodeService.status == 1 %}
            <font color="red">ERROR {{ service.NodeService.log }} </font>
          {% elif service.NodeService.status == 2 %}
            <font color="orange">wait (installing...) {{ service.NodeService.log }} </font>
          {% endif %}
        </p>
      {% endfor %}

      <hr>

      <h4 align="center">Configuration status</h4>
      {% for configuration in configurations %}
        {% if configuration.Configuration.url %}
          <p><b><a href=" {{ configuration.Configuration.url }} " target="_blank"> {{ configuration.Configuration.description }} :</a></b>
        {% else %}
          <p><b>{{ configuration.Configuration.description }} :</b>
        {% endif %}
          {% if configuration.NodeConfiguration.status == 0 %}
            <font color="green">OK {{ configuration.NodeConfiguration.log }} </font>
          {% elif configuration.NodeConfiguration.status == 1 %}
            <font color="red">ERROR {{ configuration.NodeConfiguration.log }} </font>
          {% elif configuration.NodeConfiguration.status == 2 %}
            <font color="orange">wait (installing...) {{ configuration.NodeConfiguration.log }} </font>
          {% endif %}
        </p>
      {% endfor %}

      <hr>

      <h4 align="center">Installation status</h4>
      {% for install in installs %}
        {% if install.Install.url %}
          <p><b><a href=" {{ install.Install.url }} " target="_blank"> {{ install.Install.description }} :</a></b>
        {% else %}
          <p><b>{{ install.Install.description }} :</b>
        {% endif %}
          {% if install.NodeInstall.status == 0 %}
            <font color="green">OK {{ install.NodeInstall.log }} </font>
          {% elif install.NodeInstall.status == 1 %}
            <font color="red">ERROR {{ install.NodeInstall.log }} </font>
          {% elif install.NodeInstall.status == 2 %}
            <font color="orange">wait (installing...) {{ install.NodeInstall.log }} </font>
          {% endif %}
        </p>
      {% endfor %}

    </div>

    <p align="center">* server status checked every minute</p>

  </div>
</div>

{% endblock contentCluster %}