{% extends "cluster.jinja2" %}

{% block contentCluster %}

<div id="aum" class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <script type="text/javascript" src="{{request.static_url('minisecbgp:static/vis-js/js/vis.js')}}"></script>
      <link href="{{request.static_url('minisecbgp:static/vis-js/css/vis-network.min.css')}}" rel="stylesheet" type="text/css" />

      <style type="text/css">
        #mynetwork {
            width: 600x;
            height: 600px;
            border: 1px solid lightgray;
        }
      </style>

      <div id="mynetwork"></div>

      <script type="text/javascript">
          // create a network
          var container = document.getElementById('mynetwork');

          // provide the DIR variable path
          var DIR = "{{request.static_url('minisecbgp:static/vis-js/img/')}}";

          nodes = [];
          nodes.push({id: "network", label: "network", image: DIR + "network.png", shape: "image"});
          // add here new nodes

          edges = [];
          // add here new edges

          // provide the data in the vis format
          var data = {
              nodes: nodes,
              edges: edges
          };
          var options = {};

          // initialize your network!
          var network = new vis.Network(container, data, options);
      </script>

    </div>
  </div>
</div>  

{% endblock contentCluster %}