#!/usr/bin/python

import os

from mininet.topo import Topo
from mininet.node import OVSSwitch

from MaxiNet.Frontend import maxinet
from MaxiNet.Frontend.container import Docker
from MaxiNet.tools import Tools

print('*** Creating topology')
topo = Topo()
