{% extends "topologiesDetailBase.jinja2" %}

{% block contentTopologiesDetailBase %}

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  <div id="aum" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 align="center">Autonomous System: {{ topology.topology }} </h3>
        <h4 align="center">{{ header_message }} </h4>
      </div>
    </div>

    <form action="{{ request.route_url('autonomousSystemAddEdit', id_topology = topology.id) }}" method="POST">
      <div class="form-field">
        {{ form.autonomous_system.label }}
        {{ form.autonomous_system(disabled=True) }}
        {% if form.autonomous_system.errors %}
          <ul class="errorMessage">
            {% for error in form.autonomous_system.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <p><hr></p>

      <div class="form-field">
        {{ form.id_region.label }}
        {{ form.id_region }}
        {% if form.id_region.errors %}
          <ul class="errorMessage">
            {% for error in form.id_region.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <p><hr></p>


      <div class="form-field ">
        <p>{{ form.internet_exchange_point.label }}</p>
        <div class="form-inline form-check-inline frame-color">
          {% if form.internet_exchange_point.choices %}
            {{ form.internet_exchange_point }}
          {% else %}
            There is no IX registered. Go to <a href="{{ request.route_url('internetExchange', id_topology = topology.id) }}">
          Internet eXchange Point (IX)</a> if you want to create one.
          {% endif %}
        </div>
      </div>

      <p><hr></p>

      <div class="form-field ">
        <p>Number of users by type of Autonomous System:</p>
        <div class="frame-color">
          {% if typeofuserform._fields.items() %}
            <table style="width:100%">
              {% for name, field in typeofuserform._fields.items() %}
                <div class="form-inline">
                  <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                  </tr>
                </div>
              {% endfor %}
            </table>
          {% else %}
            There is no type of user registered. Go to <a href="{{ request.route_url('typeOfUser', id_topology = topology.id) }}">
          Users</a> if you want to create one.
          {% endif %}
        </div>
      </div>

      <p><hr></p>

      <div class="form-field">
        <p>{{ form.type_of_service.label }}</p>
        <div class="form-inline form-check-inline frame-color">
          {% if form.type_of_service.choices %}
            {{ form.type_of_service }}
          {% else %}
            There is no type of service registered. Go to <a href="{{ request.route_url('typeOfService', id_topology = topology.id) }}">
          Services</a> if you want to create one.
          {% endif %}
        </div>
      </div>
    </form>

    <p align="center">* Go to the correct page to create or edit <a href="{{ request.route_url('link', id_topology = topology.id) }}">
      Links</a> and <a href="{{ request.route_url('prefix', id_topology = topology.id) }}">Prefixes</a>.</p>

  </div>

{% endblock contentTopologiesDetailBase %}
