{% extends "topologiesDetailBase.jinja2" %}

{% block contentTopologiesDetailBase %}

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  <div id="aum" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 align="center">Autonomous System: {{ topology.topology }} </h3>
        <h4 align="center">{{ header_message }} </h4>
      </div>
    </div>

    <form action="{{ request.route_url('autonomousSystemAddEdit', id_topology = topology.id) }}" method="POST">
      <div class="form-field">
        {{ form.autonomous_system.label }}
        {{ form.autonomous_system(disabled=True) }}
        {% if form.autonomous_system.errors %}
          <ul class="errorMessage">
            {% for error in form.autonomous_system.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <p><hr></p>

      <div class="form-field">
        {{ form.id_region.label }}
        {{ form.id_region }}
        {% if form.id_region.errors %}
          <ul class="errorMessage">
            {% for error in form.id_region.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <p><hr></p>


      <div class="form-field ">
        <p>{{ form.internet_exchange_point.label }}</p>
        <div class="form-inline form-check-inline frame-color">
          {{ form.internet_exchange_point }}
          {% if form.internet_exchange_point.errors %}
            <ul class="errorMessage">
              {% for error in form.internet_exchange_point.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <p><hr></p>

      <div class="form-field ">
        <p>Number of users by type of Autonomous System:</p>
        <div class="frame-color">
          <table style="width:100%">
            {% for name, field in typeofuserform._fields.items() %}
              <div class="form-inline">
                <tr>
                  <td>{{ field.label }}</td>
                  <td>{{ field }}</td>
                </tr>
              </div>
            {% endfor %}
          </table>
        </div>
      </div>

      <p><hr></p>

      <div class="form-field">
        <p>{{ form.type_of_service.label }}</p>
        <div class="form-inline form-check-inline frame-color">
          {{ form.type_of_service }}
        </div>
      </div>

      {{ form.bla.label }}
      {{ form.bla }}


    </form>

  </div>

{% endblock contentTopologiesDetailBase %}
