<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MiniSecBGP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Lightweight and Distributed Testbed for Security Analysis in BGP">
    <meta="keywords" content="BGP, Security, Testbed, Mininet, MaxiNet">
    <meta name="author" content="Emerson Barea">
  </head>

  <body>
    <p>Topology: {{ topology.topology }}</p>
    <p><hr></p>
    <p>Autonomous Systems:</p>
    <p>
      {% for autonomous_system in autonomousSystems %}
        {{ autonomous_system.AutonomousSystem.autonomous_system }}
      {% endfor %}
    </p>
  </body>
</html>