{% extends "../layout/dashboard.layout.jinja2" %}

{% block contentDashboard %}

  <div class="navbar">
    <h2 align="center">Manual Topology</h2>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% if request.user.role == 'admin' %}
              <li>
                <a href="{{ request.route_url('manualTopologiesAction',action='upload') }}">Upload Topology File</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  {% block contentManualTopology %} {% endblock contentManualTopology %}

{% endblock contentDashboard %}
