{% extends "topologiesDetailBase.jinja2" %}

{% block contentTopologiesDetailBase %}

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  <div id="aum" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 align="center">BGP Prefixes: {{ topology.topology }} </h3>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" align="center">

        {% if request.user.role == 'admin' %}
          <form action="{{ request.route_url('prefixAction',action='addEditDelete', id_topology = topology.id) }}" method="POST">
            <div class="form-field">
              <p>Enter the ASN for which you want to create, edit or delete BGP Prefixes: {{ form.autonomous_system }}</p>
              {% if form.autonomous_system.errors %}
                <ul class="errorMessage">
                  {% for error in form.autonomous_system.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="form-button">
              <p>
                <button type="submit" name="form.submitted" value="Download" class="btn btn-primary">Enter</button>
              </p>
            </div>

          </form>
          <hr>
        {% endif %}

        <form action="#" method="POST">
          <div class="form-button">
            <p>
              <button type="button" class="btn btn-primary"
                      onclick="window.open('{{ request.route_url('prefixShowAll', id_topology = topology.id) }}','_blank')">Show all Topology BGP Prefixes
              </button>
            </p>
            <p>* Show all may take a while due to the large number of BGP prefixes.</p>
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock contentTopologiesDetailBase %}
