{% extends "realisticTopologies.jinja2" %}

{% block contentRealisticTopology %}

<div id="aum" class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <meta http-equiv="refresh" content="60;URL= '{{ realisticTopologies_url }}'">

      <h3 align="center">Installed Topologies</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      {% for topology in topologies %}
        {% if updating != 1 %}
          <p><a href="{{ request.route_url('topologiesDetail', id_topology = topology.Topology.id) }}"
                title="click to access topology details"> {{ topology.Topology.topology }} </a></p>
        {% else %}
          <p> {{ topology.Topology.topology }} </p>
        {% endif %}
      {% endfor %}
      <p align="center">* this page is automatically reloaded every minute</p>
    </div>
  </div>
</div>

{% endblock contentRealisticTopology %}