{% extends "../layout/dashboard.layout.jinja2" %}

{% block contentDashboard %}

  <div class="navbar">
    <h2 align="center">Topology Detail</h2>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% if request.user.role == 'admin' %}
            <li>
              <a href="{{ request.route_url('topologiesAction', action='autonomousSystem', id_topology = topology.id) }}"> Autonomous System </a>
            </li>
            <li>
              <a href="{{ request.route_url('topologiesAction', action='link', id_topology = topology.id) }}">Link</a>
            </li>
            <li>
              <a href="{{ request.route_url('topologiesAction', action='prefix', id_topology = topology.id) }}">BGP Prefix</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  <div id="aum" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 align="center">Autonomous Systems: {{ topology.topology }}</h3>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
         <ul class="nav nav-tabs">
          {% for t1 in range(tabs + 1) %}
            {% if t1 == 0 %}
              {% if tabs == 0 %}
                <li class="active"><a data-toggle="tab" href="#tab{{ t1 }}">1 .. {{ accordions_str }}</a></li>
              {% else %}
                <li class="active"><a data-toggle="tab" href="#tab{{ t1 }}">1 .. 9.999</a></li>
                {% for t2 in range(tabs) %}
                  {% if t2 + 1 == tabs %}
                    <li><a data-toggle="tab" href="#tab{{ t2 + 1 }}">{{ t2 + 1 }}0.000 .. {{ t2 + 1 }}{{ accordions }}</a></li>
                  {% else %}
                    <li><a data-toggle="tab" href="#tab{{ t2 + 1 }}">{{ t2 + 1 }}0.000 .. {{ t2 + 1 }}9.999</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for t1 in range(tabs + 1) %}
            {% if t1 == 0 %}
              {% if tabs == 0 %}
                <div id="tab{{ t1 }}" class="tab-pane fade in active">
                  <!-- tab{{ t1 }} primeira tab para apenas 1 tab -->

                  <div class="accordion" id="accordiontab{{ t1 }}">
                    {% for ai1 in range(accordions_int + 1) %}
                      {% if ai1 == 0 %}
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t1 }}" href="#collapse{{ ai1 }}">
                              Autonomous System Number: 1 .. 999
                            </a>
                          </div>
                          <div id="collapse{{ ai1 }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                              {% for autonomousSystem in autonomousSystems %}
                                {% if (autonomousSystem.autonomous_system < 999) %}
                                  <p><a href="#" title="click to edit this Autonomous System">
                                    {{ autonomousSystem.autonomous_system }}
                                  </a></p>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% elif ai1 == accordions_int %}
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t1 }}" href="#collapse{{ ai1 }}">
                              Autonomous System Number:  {{ ai1 }}.000 ... {{ accordions_str }}
                            </a>
                          </div>
                          <div id="collapse{{ ai1 }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                              {% for autonomousSystem in autonomousSystems %}
                                {% if ((autonomousSystem.autonomous_system >= ai1 * 1000) and (autonomousSystem.autonomous_system <= ai1 * 1000 + accordions_dec)) %}
                                  <p><a href="#" title="click to edit this Autonomous System">
                                    {{ autonomousSystem.autonomous_system }}
                                  </a></p>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t1 }}" href="#collapse{{ ai1 }}">
                              Autonomous System Number:  {{ ai1 }}.000 ... {{ ai1 }}.999
                            </a>
                          </div>
                          <div id="collapse{{ ai1 }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                              {% for autonomousSystem in autonomousSystems %}
                                {% if ((autonomousSystem.autonomous_system >= ai1 * 1000) and (autonomousSystem.autonomous_system <= ai1 * 1000 + 999)) %}
                                  <p><a href="#" title="click to edit this Autonomous System">
                                    {{ autonomousSystem.autonomous_system }}
                                  </a></p>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                </div>
              {% else %}
                <div id="tab{{ t1 }}" class="tab-pane fade in active">
                  <!-- tab{{ t1 }} primeira tab para várias tabs -->

                  <div class="accordion" id="accordiontab{{ t1 }}">
                    {% for ai1 in range(10) %}
                      {% if ai1 == 0 %}
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t1 }}" href="#collapse{{ ai1 }}">
                              Autonomous System Number: 1 .. 999
                            </a>
                          </div>
                          <div id="collapse{{ ai1 }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                              {% for autonomousSystem in autonomousSystems %}
                                {% if autonomousSystem.autonomous_system < 999 %}
                                  <p><a href="#" title="click to edit this Autonomous System">
                                    {{ autonomousSystem.autonomous_system }}
                                  </a></p>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t1 }}" href="#collapse{{ ai1 }}">
                              Autonomous System Number:  {{ ai1 }}.000 ... {{ ai1 }}.999
                            </a>
                          </div>
                          <div id="collapse{{ ai1 }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                              {% for autonomousSystem in autonomousSystems %}
                                {% if ((autonomousSystem.autonomous_system >= ai1 * 1000) and (autonomousSystem.autonomous_system <= ai1 * 1000 + 999)) %}
                                  <p><a href="#" title="click to edit this Autonomous System">
                                    {{ autonomousSystem.autonomous_system }}
                                  </a></p>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                </div>
                {% for t2 in range(tabs) %}
                  {% if t2 + 1 == tabs %}
                    <div id="tab{{ t2 + 1 }}" class="tab-pane fade">
                      <!-- tab{{ t2 + 1 }} última tab quando tem várias tabs -->

                      <div class="accordion" id="accordiontab{{ t2 + 1 }}">
                        {% for ai1 in range(accordions_int + 1) %}
                          {% if ai1 == accordions_int %}
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t2 + 1 }}" href="#collapse{{ t2 + 1 }}{{ ai1 }}">
                                  Autonomous System Number:  {{ t2 + 1 }}{{ ai1 }}.000 ... {{ t2 + 1 }}{{ accordions_str }}
                                </a>
                              </div>
                              <div id="collapse{{ t2 + 1 }}{{ ai1 }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  {% for autonomousSystem in autonomousSystems %}
                                    {% if ((autonomousSystem.autonomous_system >= ((t2 + 1) * 10000) + (ai1 * 1000)) and (autonomousSystem.autonomous_system <= ((t2 + 1) * 10000) + (ai1 * 1000) + accordions_dec)) %}
                                      <p><a href="#" title="click to edit this Autonomous System">
                                        {{ autonomousSystem.autonomous_system }}
                                      </a></p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          {% else %}
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t2 + 1 }}" href="#collapse{{ t2 + 1 }}{{ ai1 }}">
                                  Autonomous System Number:  {{ t2 + 1 }}{{ ai1 }}.000 ... {{ t2 + 1 }}{{ ai1 }}.999
                                </a>
                              </div>
                              <div id="collapse{{ t2 + 1 }}{{ ai1 }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  {% for autonomousSystem in autonomousSystems %}
                                    {% if ((autonomousSystem.autonomous_system >= ((t2 + 1) * 10000) + (ai1 * 1000)) and (autonomousSystem.autonomous_system <= ((t2 + 1) * 10000) + (ai1 * 1000) + 999)) %}
                                      <p><a href="#" title="click to edit this Autonomous System">
                                        {{ autonomousSystem.autonomous_system }}
                                      </a></p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>

                    </div>
                  {% else %}
                    <div id="tab{{ t2 + 1 }}" class="tab-pane fade">
                      <!-- tab{{ t2 + 1 }} uma tab do meio quando tem várias tabs -->

                      <div class="accordion" id="accordiontab{{ t2 + 1 }}">
                        {% for ai1 in range(10) %}
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordiontab{{ t2 + 1 }}" href="#collapse{{ t2 + 1 }}{{ ai1 }}">
                                  Autonomous System Number: {{ t2 + 1 }}{{ ai1 }}.000 ... {{ t2 + 1 }}{{ ai1 }}.999
                                </a>
                              </div>
                              <div id="collapse{{ t2 + 1 }}{{ ai1 }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  {% for autonomousSystem in autonomousSystems %}
                                    {% if ((autonomousSystem.autonomous_system >= ((t2 + 1) * 10000) + (ai1 * 1000)) and (autonomousSystem.autonomous_system <= ((t2 + 1) * 10000) + (ai1 * 1000) + 999)) %}
                                      <p><a href="#" title="click to edit this Autonomous System">
                                        {{ autonomousSystem.autonomous_system }}
                                      </a></p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                      </div>

                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <center>
          <form action="#" method="POST">
            <div class="form-field">
              Add new Autonomous System (only digit a new 16 or 32 bits ASN): {{ form.autonomous_system }}
              {% if form.autonomous_system.errors %}
                <ul class="errorMessage">
                  {% for error in form.autonomous_system.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="form-button">
             <button type="submit" name="form.submitted" value="Create" class="btn btn-primary">Add</button>
            </div>
          </form>
        </center>

      </div>
    </div>
  </div>

{% endblock contentDashboard %}