{% extends "topologies.jinja2" %}

{% block contentTopologies %}

<div id="aum" class="container-fluid">

  <meta http-equiv="refresh" content="60;URL= '{{ topologies_url }}'">

  {% for topology_type in topology_types %}
    <div class="row-fluid">
      <div class="span12">
        <h4 align="center"> {{ topology_type.topology_type }} </h4>
        {% for topology in topologies %}
          {% if topology.TopologyType.id == topology_type.id %}
            {% if updating != 1 %}
              <p><a href="{{ request.route_url('topologiesDetail', id_topology = topology.Topology.id) }}" title="click to access topology details">
                <p> {{ topology.Topology.topology }} - {{ topology.Topology.description }} </p>
              </a></p>
            {% else %}
              <p> {{ topology.Topology.topology }} - {{ topology.Topology.description }} </p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <p><hr></p>
  {% endfor %}
  <p align="center">* this page is automatically reloaded every minute</p>

</div>

{% endblock contentTopologies %}