{% extends "../layout/dashboard.layout.jinja2" %}

{% block contentDashboard %}

  <div class="navbar">
    <h2 align="center">Topology Detail</h2>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="{{ request.route_url('topologiesDetail', id_topology = topology.id) }}">Detail</a>
            </li>
            <li>
              <a href="{{ request.route_url('autonomousSystem', id_topology = topology.id) }}">Autonomous System</a>
            </li>
            <li>
              <a href="{{ request.route_url('link', id_topology = topology.id) }}">Peer</a>
            </li>
            <li>
              <a href="{{ request.route_url('prefix', id_topology = topology.id) }}">Prefix</a>
            </li>
            <li>
              <a href="{{ request.route_url('region', id_topology = topology.id) }}">Region</a>
            </li>
            <li>
              <a href="{{ request.route_url('internetExchange', id_topology = topology.id) }}">Internet eXchange Point</a>
            </li>
            <li>
              <a href="{{ request.route_url('typeOfUser', id_topology = topology.id) }}">Users</a>
            </li>
            <li>
              <a href="{{ request.route_url('typeOfService', id_topology = topology.id) }}">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% block contentTopologiesDetailBase %} {% endblock contentTopologiesDetailBase %}

{% endblock contentDashboard %}