<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MiniSecBGP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Lightweight and Distributed Testbed for Security Analysis in BGP">
    <meta="keywords" content="BGP, Security, Testbed, Mininet, MaxiNet">
    <meta name="author" content="Emerson Barea">
    <link rel="stylesheet" href="{{request.static_url('minisecbgp:static/css/bootstrap.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{request.static_url('minisecbgp:static/css/theme.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{request.static_url('minisecbgp:static/css/bootstrap-responsive.css')}}" type="text/css"/>
    <link rel="icon" href="{{request.static_url('minisecbgp:static/ico/favico.png')}}">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MiniSecBGPs</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="javascript:window.open('','_self').close();">Close</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="aum" class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3 align="center">Topology: {{ topology.topology }}</h3>
          <h4 align="center">Show all Types of User</h4>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-tabs">
            {% for tab in type_of_users %}
              {% if tab['id_tab'] == 1 %}
                <li class="active"><a data-toggle="tab" href="#tab{{ tab['id_tab'] }}">{{ tab['type_of_user'] }}</a></li>
              {% else %}
                <li><a data-toggle="tab" href="#tab{{ tab['id_tab'] }}">{{ tab['type_of_user'] }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>

          <div class="tab-content">
            {% for tab in type_of_users %}
              {% set accordion_count = namespace(value=0) %}
              {% set accordion_type_of_user_loop = namespace(value=0) %}
              <div id="tab{{ tab['id_tab'] }}" class="tab-pane fade {{ 'in active' if tab['id_tab'] == 1 }}">

                <p>- Total number of users: {{ tab['total_number_of_user_by_type'] }}</p>

                <div class="accordion" id="accordion{{ tab['id_tab'] }}">
                {% for autonomous_system_per_type_of_user in autonomous_systems_per_type_of_user %}
                  {% if tab['id_type_of_user'] == autonomous_system_per_type_of_user['id_type_of_user'] %}
                    {% if accordion_count.value != 0 %}
                      {{ autonomous_system_per_type_of_user['autonomous_system'] }}({{ autonomous_system_per_type_of_user['number'] }})
                    {% else %}

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ tab['id_tab'] }}"
                             href="#collapse{{ tab['id_tab'] }}{{ accordion_type_of_user_loop.value }}">Autonomous System range: {{ accordion_type_of_user_loop.value }}
                          </a>
                        </div>
                        <div id="collapse{{ tab['id_tab'] }}{{ accordion_type_of_user_loop.value }}" class="accordion-body collapse">
                          <div class="accordion-inner">

                      AS(number of user): {{ autonomous_system_per_type_of_user['autonomous_system'] }}({{ autonomous_system_per_type_of_user['number'] }})

                    {% endif %}

                    {% set accordion_count.value = accordion_count.value + 1 %}
                    {% if accordion_count.value == 1000 or
                (accordion_count.value == tab['number_of_autonomous_system_last_accordion_per_type_of_user'] and
                accordion_type_of_user_loop.value == tab['number_of_accordions_per_type_of_user']) %}

                          </div>
                        </div>
                      </div>
                      {% set accordion_count.value = 0 %}
                      {% set accordion_type_of_user_loop.value = accordion_type_of_user_loop.value + 1 %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <footer>
      <a href="https://github.com/MiniSecBGP/MiniSecBGP" target="_blank">Github Project</a>
      <p>MiniSecBGP</p>
    </footer>

    <script src="{{request.static_url('minisecbgp:static/js/jquery.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-transition.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-alert.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-modal.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-dropdown.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-tab.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-tooltip.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-popover.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-button.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-collapse.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-carousel.js')}}"></script>
    <script src="{{request.static_url('minisecbgp:static/js/bootstrap-typeahead.js')}}"></script>

  </body>
</html>