{% extends "../layout/dashboard.layout.jinja2" %}

{% block contentDashboard %}

  <div class="navbar">
    <h2 align="center">Hijack</h2>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Analysis Type</a>
              <div class="dropdown-menu">
                <!-- <a class="dropdown-item" href="{{ request.route_url('hijackAttackScenario') }}">Attack Scenario<br></a> -->
                <a class="dropdown-item" href="{{ request.route_url('hijackRealisticAnalysis') }}">Realistic Analysis<br></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Default Configuration</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ request.route_url('hijackAttackType') }}">Attack Types<br></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class=" {{ css_class }} ">
    <p> {{ message }} </p>
  </div>

  {% block contentHijack %} {% endblock contentHijack %}

{% endblock contentDashboard %}