{% extends "hijack.jinja2" %}

{% block contentHijack %}

<div id="aum" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span12">
            {% if not realistic_analysis[0]['time_copy_files'] %}
                <meta http-equiv="refresh" content="5;URL= '{{ hijackRealisticAnalysisDetail_url }}'">
                <h3 align="center">Creating Scenario Configuration</h3>
            {% else %}
                <h3 align="center">Scenario Configuration</h3>
            {% endif %}
        </div>
    </div>
    <form action="#" method="POST">
        <div class="row-fluid">
            <div class="span12">
                <p>
                    <strong> Topology name: </strong>
                    <font color="green"> {{ realistic_analysis[0]['topology'] }} </font>
                </p>
                <p>
                    <strong> Include stub ASs: </strong>
                    <font color="green"> {{ realistic_analysis[0]['include_stub'] }} </font>
                </p>
                <p>
                    <strong> Topology distribution method: </strong>
                    <font color="green"> {{ realistic_analysis[0]['topology_distribution_method'] }} </font> </p>
                <p>
                    <strong> Emulation platform: </strong>
                    <font color="green"> {{ realistic_analysis[0]['emulation_platform'] }} </font>
                </p>
                <p>
                    <strong> Router platform: </strong>
                    <font color="green"> {{ realistic_analysis[0]['router_platform'] }} </font>
                </p>
                {% if realistic_analysis[0]['output_path'] %}
                    <p>
                        <strong> Output configuration files: </strong>
                        <font color="green"> {{ realistic_analysis[0]['output_path'] }} </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Output configuration files: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['number_of_autonomous_systems'] %}
                    <p>
                        <strong> Number of ASs: </strong>
                        <font color="green"> {{ realistic_analysis[0]['number_of_autonomous_systems'] }} </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Number of ASs: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_get_data'] %}
                    <p>
                        <strong> Time to get data from topology: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_get_data'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to get data from topology: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_autonomous_system_per_server'] %}
                    <p>
                        <strong> Time to define the topology distribution on cluster nodes: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_autonomous_system_per_server'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to define the topology distribution on cluster nodes: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_emulate_platform_commands'] %}
                    <p>
                        <strong> Time to create emulation commands: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_emulate_platform_commands'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to create emulation commands: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_router_platform_commands'] %}
                    <p>
                        <strong> Time to create router platform commands: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_router_platform_commands'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to create router platform commands: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_write_files'] %}
                    <p>
                        <strong> Time to write configuration files: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_write_files'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to write configuration files: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
                {% if realistic_analysis[0]['time_copy_files'] %}
                    <p>
                        <strong> Time to copy files to cluster nodes: </strong>
                        <font color="green"> {{ realistic_analysis[0]['time_copy_files'] }} sec </font>
                    </p>
                    <p>
                        <strong> Total time: </strong>
                        <font color="green"> {{ realistic_analysis[0]['total_time'] }} sec </font>
                    </p>
                {% else %}
                    <p>
                        <strong> Time to copy files to cluster nodes: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                    <p>
                        <strong> Total time: </strong>
                        <font color="orange"> wait... </font>
                    </p>
                {% endif %}
            </div>
        </div>

        <p><hr></p>

        {% if not realistic_analysis[0]['time_copy_files'] %}
            <p align="center">* fields status checked automatically every 5 seconds</p>
        {% else %}
            <div class="form-group" align="center">
                {{ form.events_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis[0]['id_realistic_analysis']) }}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirmationModal">Emulate</button>
            </div>
        {% endif %}

        <div class="modal fade" id="confirmationModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Attention:</strong> Are you sure you want to start the emulation process?</p>
                        <p>This process open a shell terminal where you can interact directly in the emulation process.</p>
                    </div>
                    {{ realistic_analysis.id }}
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            {{ form_button.emulate_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock contentHijack %}