{% extends "hijack.jinja2" %}

{% block contentHijack %}

<div id="aum" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span12">
            bla
        </div>
    </div>
    <form action="#" method="POST">
        <div class="row-fluid">
            {{ message }}
            <div class="span12">
                teste
            </div>
        </div>

        <p><hr></p>

    </form>
</div>

{% endblock contentHijack %}