{% extends "hijack.jinja2" %}

{% block contentHijack %}

<div id="aum" class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3 align="center">Historical Hijacking Scenarios</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">

      History here:

    </div>
  </div>
</div>

{% endblock contentHijack %}
