{% extends "hijack.jinja2" %}

{% block contentHijack %}

    <div id="aum" class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3 align="center">Events and Behavior - {{ topology.topology }}</h3>
        </div>
      </div>

      <div class="row-fluid">

        <!-- Datetime -->

        <div class="span12">
          <form action="#" method="POST">
            <div class="frame-color">
              <div class="form-field">
                <p>
                  {{ form_datetime.start_datetime.label }}
                  {{ form_datetime.start_datetime(disabled=True) }}
                </p>
              </div>
              <div class="form-field">
                <p>
                  {{ form_datetime.end_datetime.label }}
                  {{ form_datetime.end_datetime(disabled=True) }}
                </p>
              </div>
              <div class="form-field">
                <p>
                  Format: <strong>%Y-%m-%d %H:%M:%S</strong>
                </p>
              </div>
            </div>
            <br>
            <div class="form-group" align="center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editDatetimeConfirmationModal">Edit Datetime</button>
            </div>

            <div class="modal fade" id="editDatetimeConfirmationModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                  </div>
                  <div class="modal-body">
                    </br></br>
                    <div class="form-field">
                      <p>
                        {{ form_datetime.start_datetime.label }}
                        {{ form_datetime.start_datetime }}
                      </p>
                    </div>
                    <div class="form-field">
                      <p>
                        {{ form_datetime.end_datetime.label }}
                        {{ form_datetime.end_datetime }}
                      </p>
                    </div>
                    <div class="form-field">
                      <p>
                        Format: <strong>%Y-%m-%d %H:%M:%S</strong>
                      </p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      {{ form_datetime.edit_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        {% if event_behaviour %}

          <!-- Restrict Mode -->

          <div class="span12">
            <form action="#" method="POST">
              <div class="frame-color">
                <div class="form-field">
                  <p>
                    {{ form_restrict_mode.restrict_mode.label }}
                    {{ form_restrict_mode.restrict_mode(disabled=True) }}
                  </p>
                </div>
              </div>
              <br>
              <div class="form-group" align="center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRestrictModeConfirmationModal">Edit Restrict Mode</button>
              </div>

              <div class="modal fade" id="editRestrictModeConfirmationModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      </br></br>
                      <div class="form-field">
                        <p>
                          {{ form_restrict_mode.restrict_mode.label }}
                          {{ form_restrict_mode.restrict_mode }}
                        </p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_restrict_mode.edit_restrict_mode_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- Announcement -->

          <div class="span12">
            <form action="#" method="POST">
              <p><hr></p>
              <div class="form-field">
                <p>Prefix Announcements:</p>
                <div class="frame-color">
                  <table style="width:100%">
                    <tr>
                      <td align="center"><strong>Datetime</strong></td>
                      <td align="center"><strong>Prefix</strong></td>
                      <td align="center"><strong>Announcer</strong></td>
                      <td></td>
                    </tr>
                    {% for event in events_announcement %}
                      <div class="form-inline">
                        <tr>
                          <td align="center">{{ event.event_datetime }}</td>
                          <td align="center">{{ event.prefix }}</td>
                          <td align="center">{{ event.announcer }}</td>
                          <td align="center"><button type="button" onclick="eventAnnouncement({{ event.id }})" class="btn btn-primary" data-toggle="modal" data-target="#confirmationDeleteAnnouncementModal">Del</button></td>
                        </tr>
                      </div>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <br>
              <div class="form-group" align="center">
                <p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationAnnouncementModal">Add Announcement</button>
                </p>
              </div>

              <div class="modal fade" id="confirmationAnnouncementModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      </br></br>
                      {{ form_announcement.announcement_id_event(type="hidden") }}
                      <p>
                        {{ form_announcement.announcement_datetime.label }}
                        {{ form_announcement.announcement_datetime(value="0001-01-01 01:00:00") }} Format: %Y-%m-%d %H:%M:%S
                      </p>
                      <p>
                        {{ form_announcement.announced_prefix.label }}
                        {{ form_announcement.announced_prefix(value="0.0.0./0") }} Ex.: 1.0.0.0/8 or 200.233.127.252/24
                      </p>
                      <p>
                        {{ form_announcement.announcer.label }}
                        {{ form_announcement.announcer(value="0") }} Format: ASN (16/32 bits)
                      </p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_announcement.create_announcement_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirmationDeleteAnnouncementModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want remove this event?</p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_announcement.delete_announcement_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- withdraw -->

          <div class="span12">
            <form action="#" method="POST">
              <p><hr></p>
              <div class="form-field">
                <p>Prefix Withdrawn:</p>
                <div class="frame-color">
                  <table style="width:100%">
                    <tr>
                      <td align="center"><strong>Datetime</strong></td>
                      <td align="center"><strong>In/Out</strong></td>
                      <td align="center"><strong>Prefix</strong></td>
                      <td align="center"><strong>Withdrawer</strong></td>
                      <td align="center"><strong>Peer</strong></td>
                      <td align="center"><strong>Prefix Announcer</strong></td>
                    </tr>
                    {% for event in events_withdrawn %}
                      <div class="form-inline">
                        <tr>
                          <td align="center">{{ event.event_datetime }}</td>
                          <td align="center">{{ event.in_out }}</td>
                          {% if event.prefix %}
                            <td align="center">{{ event.prefix }}</td>
                          {% else %}
                            <td align="center">--</td>
                          {% endif %}
                          <td align="center">{{ event.withdrawer }}</td>
                          <td align="center">{{ event.peer }}</td>
                          {% if event.withdrawn %}
                            <td align="center">{{ event.withdrawn }}</td>
                          {% else %}
                            <td align="center">--</td>
                          {% endif %}
                          <td align="center"><button type="button" onclick="eventWithdrawn({{ event.id }})" class="btn btn-primary" data-toggle="modal" data-target="#confirmationDeleteWithdrawnModal">Del</button></td>
                        </tr>
                      </div>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <br>
              <div class="form-group" align="center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationWithdrawModal">Add Withdraw</button>
              </div>

              <div class="modal fade" id="confirmationWithdrawModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                    </br></br>
                      {{ form_withdrawn.withdrawn_id_event(type="hidden") }}
                      <p>
                        {{ form_withdrawn.withdrawn_datetime.label }}
                        {{ form_withdrawn.withdrawn_datetime(value="0001-01-01 01:00:00") }} Format: %Y-%m-%d %H:%M:%S
                      </p>
                      <p>
                        {{ form_withdrawn.withdrawn_in_out.label }}
                        {{ form_withdrawn.withdrawn_in_out(onchange="inountFunction()") }}
                      </p>
                      <p>
                        {{ form_withdrawn.withdrawer.label }}
                        {{ form_withdrawn.withdrawer(value="0") }} Format: ASN (16/32 bits)
                      </p>
                      <p>
                        {{ form_withdrawn.withdrawn_peer.label }}
                        {{ form_withdrawn.withdrawn_peer(value="0") }} Format: ASN (16/32 bits)
                      </p>
                      <p>
                        {{ form_withdrawn.withdrawn_prefix_as_source.label }}
                        {{ form_withdrawn.withdrawn_prefix_as_source(onchange="withdrawComboFunction()") }}
                      </p>
                      <p>
                        <table style="width:100%">
                          <tr>
                            <td align="left">{{ form_withdrawn.withdrawn_prefix.label }}</td>
                            <td align="left">{{ form_withdrawn.withdrawn.label }}</td>
                          </tr>
                          <div class="form-inline">
                            <tr>
                              <td align="left">{{ form_withdrawn.withdrawn_prefix(value="0.0.0.0/0") }}</td>
                              <td align="left">{{ form_withdrawn.withdrawn(value="0", disabled=True) }}</td>
                            </tr>
                          </div>
                        </table>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_withdrawn.create_withdraw_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirmationDeleteWithdrawnModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want remove this event?</p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_withdrawn.delete_withdrawn_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- prepend -->

          <div class="span12">
            <form action="#" method="POST">
              <p><hr></p>
              <div class="form-field">
                <p>AS-Path Prepend:</p>
                <div class="frame-color">
                  <table style="width:100%">
                    <tr>
                      <td align="center"><strong>Datetime</strong></td>
                      <td align="center"><strong>In/Out</strong></td>
                      <td align="center"><strong>Prefix</strong></td>
                      <td align="center"><strong>Prepender</strong></td>
                      <td align="center"><strong>Prepended</strong></td>
                      <td align="center"><strong>Peer</strong></td>
                      <td align="center"><strong>HMT</strong></td>
                      <td></td>
                    </tr>
                    {% for event in events_prepend %}
                      <div class="form-inline">
                        <tr>
                          <td align="center">{{ event.event_datetime }}</td>
                          <td align="center">{{ event.in_out }}</td>
                          <td align="center">{{ event.prefix }}</td>
                          <td align="center">{{ event.prepender }}</td>
                          <td align="center">{{ event.prepended }}</td>
                          <td align="center">{{ event.peer }}</td>
                          <td align="center">{{ event.hmt }}</td>
                          <td align="center"><button type="button" onclick="eventPrepend({{ event.id }})" class="btn btn-primary" data-toggle="modal" data-target="#confirmationDeletePrependModal">Del</button></td>
                        </tr>
                      </div>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <br>
              <div class="form-group" align="center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationPrependModal">Add Prepend</button>
              </div>

              <div class="modal fade" id="confirmationPrependModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      </br></br>
                      {{ form_prepend.prepend_id_event(type="hidden") }}
                      <p>
                        {{ form_prepend.prepend_datetime.label }}
                        {{ form_prepend.prepend_datetime(value="0001-01-01 01:00:00") }} Format: %Y-%m-%d %H:%M:%S
                      </p>
                      <p>
                        {{ form_prepend.prepend_in_out.label }}
                        {{ form_prepend.prepend_in_out(onchange="inountFunction()") }}
                      </p>
                      <p>
                        {{ form_prepend.prepend_prefix.label }}
                        {{ form_prepend.prepend_prefix }}
                      </p>
                      <p>
                        <table style="width:100%">
                          <tr>
                            <td align="left">{{ form_prepend.prepender.label }}</td>
                            <td align="left">{{ form_prepend.prepended.label }}</td>
                          </tr>
                          <div class="form-inline">
                            <tr>
                              <td align="left">{{ form_prepend.prepender(value="0") }}</td>
                              <td align="left">{{ form_prepend.prepended(value="0") }}</td>
                            </tr>
                          </div>
                        </table>
                      </p>
                      <p>
                        <table style="width:100%">
                          <tr>
                            <td align="left">{{ form_prepend.prepend_peer.label }}</td>
                            <td align="left">{{ form_prepend.times_prepended.label }}</td>
                          </tr>
                          <div class="form-inline">
                            <tr>
                              <td align="left">{{ form_prepend.prepend_peer(value="0") }}</td>
                              <td align="left">{{ form_prepend.times_prepended(value="0") }}</td>
                            </tr>
                          </div>
                        </table>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_prepend.create_prepend_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirmationDeletePrependModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want remove this event?</p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_prepend.delete_prepend_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>



          <!-- monitoring -->

          <div class="span12">
            <form action="#" method="POST">
              <p><hr></p>
              <div class="form-field">
                <p>Monitoring Event Datetime:</p>
                <div class="frame-color">
                  <table style="width:100%">
                    <tr>
                      <td align="center"><strong>Datetime</strong></td>
                      <td align="center"><strong>Monitored</strong></td>
                      <td align="center"><strong>Sleep time (sec.)</strong></td>
                      <td></td>
                    </tr>
                    {% for event in events_monitoring %}
                      <div class="form-inline">
                        <tr>
                          <td align="center">{{ event.event_datetime }}</td>
                          {% if event.all == None %}
                            <td align="center">{{ event.monitor }}</td>
                          {% else %}
                            <td align="center">All</td>
                          {% endif %}
                          <td align="center">{{ event.sleep_time }}</td>
                          <td align="center"><button type="button" onclick="eventMonitoring({{ event.id }})" class="btn btn-primary" data-toggle="modal" data-target="#confirmationDeleteMonitoringModal">Del</button></td>
                        </tr>
                      </div>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <br>
              <div class="form-group" align="center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationMonitoringModal">Add Monitoring</button>
              </div>

              <div class="modal fade" id="confirmationMonitoringModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      {{ form_monitoring.monitoring_id_event(type="hidden") }}
                      <p>
                        {{ form_monitoring.monitor_by.label }}
                        {{ form_monitoring.monitor_by(onchange="monitor_byFunction()") }}
                      </p>
                      <p>
                        <table style="width:100%">
                          <tr>
                            <td align="left">{{ form_monitoring.amount_of_time_slot.label }}</td>
                          </tr>
                          <div class="form-inline">
                            <tr>
                              <td align="left">{{ form_monitoring.amount_of_time_slot(value="0") }} Start and end datetime automatically included</td>
                            </tr>
                          </div>
                        </table>
                      </p>
                      <p>
                        {{ form_monitoring.monitoring_datetime.label }}
                        {{ form_monitoring.monitoring_datetime(value="0001-01-01 01:00:00", disabled=True) }} Format: %Y-%m-%d %H:%M:%S
                      </p>
                      <p>
                        {{ form_monitoring.which_as_will_be_monitored.label }}
                        {{ form_monitoring.which_as_will_be_monitored(onchange="which_as_will_be_monitoredFunction()") }}
                      </p>
                      <p>
                        <table style="width:100%">
                          <tr>
                            <td align="left">{{ form_monitoring.monitor.label }}</td>
                          </tr>
                          <div class="form-inline">
                            <tr>
                              <td align="left">{{ form_monitoring.monitor(value="0", disabled=True) }}</td>
                            </tr>
                          </div>
                        </table>
                      </p>
                      <p>
                        {{ form_monitoring.sleep_time.label }}
                        {{ form_monitoring.sleep_time }}
                      </p>

                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_monitoring.create_monitoring_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirmationDeleteMonitoringModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want remove this event?</p>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form_monitoring.delete_monitoring_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        {% endif %}

        <!-- generate events button -->

        <div class="span12">
          <form action="#" method="POST">
            <p><hr></p>
            <div class="form-group" align="center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">Generate Event Files</button>
            </div>

            <div class="modal fade" id="confirmationModal" tabindex='-1' role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                  </div>
                  <div class="modal-body">
                    <p><strong>Attention:</strong> Are you sure you want to create events file?</p>
                      <p>This process can take a long time due to the topology size, and will block some MiniSecBGP functions until it finish.</p>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      {{ form_button.generate_files_button(class="btn btn-primary", id_realistic_analysis=realistic_analysis.id) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>

      <script>
        function eventAnnouncement(id_event) {
          announcement_id_event.value = id_event;
        };
        function eventPrepend(id_event) {
          prepend_id_event.value = id_event;
        };
        function eventWithdrawn(id_event) {
          withdrawn_id_event.value = id_event;
        };
        function eventMonitoring(id_event) {
          monitoring_id_event.value = id_event;
        };
        function inountFunction() {
          choose = document.getElementById("prepend_in_out").value;
          if (choose == 'in') {
            document.getElementById("prepend_peer").setAttribute("disabled","disabled");
          } else if (choose == 'out') {
            document.getElementById("prepend_peer").removeAttribute("disabled");
          };
        };
        function withdrawComboFunction() {
          choose = document.getElementById("withdrawn_prefix_as_source").value;
          if (choose == 'prefix') {
            document.getElementById("withdrawn_prefix").removeAttribute("disabled");
            document.getElementById("withdrawn").setAttribute("disabled","disabled");
          } else if (choose == 'as') {
            document.getElementById("withdrawn_prefix").setAttribute("disabled","disabled");
            document.getElementById("withdrawn").removeAttribute("disabled");
          };
        };
        function which_as_will_be_monitoredFunction() {
          choose = document.getElementById("which_as_will_be_monitored").value;
          if (choose == 'all') {
            document.getElementById("monitor").setAttribute("disabled","disabled");
          } else if (choose == 'only_one_as') {
            document.getElementById("monitor").removeAttribute("disabled");
          };
        };
        function monitor_byFunction() {
          choose = document.getElementById("monitor_by").value;
          if (choose == 'specific_time_slot') {
            document.getElementById("amount_of_time_slot").setAttribute("disabled","disabled");
            document.getElementById("monitoring_datetime").removeAttribute("disabled");
          } else if (choose == 'automatic_time_slot') {
            document.getElementById("amount_of_time_slot").removeAttribute("disabled");
            document.getElementById("monitoring_datetime").setAttribute("disabled","disabled");
          };
        };
      </script>

    </div>

{% endblock contentHijack %}